@import 'src/assets/styles/vars.scss';

.content-item-top {
    margin-bottom: 8px;
}

.video {
    margin-bottom: 8px;
}

.details {
    margin-top: 0;
    margin-bottom: 17px;
}

.material {
    margin-bottom: 16px;

    button {    
        margin-bottom: 8px;
        display: flex;
        align-items: center;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.material-header {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 16px;
    color: $с-black;
}

.material-button {
    color: $c-yellow;
    border: 1px solid $c-yellow;
    border-radius: 5px;
    padding: 8px;
    background-color: $bg-white;

    img {
        margin-right: 10px;
    }
}