@import 'src/assets/styles/vars.scss';

.content-item {
	padding: 16px;
	background: #ffffff;
	border: 1px solid #eeeeee;
	box-shadow: $boxShadow;
	border-radius: 10px;
	margin-bottom: 10px;

	&:last-child {
		margin-bottom: 0;
	}
}

.content-item-top {
	display: block;
	color: $с-black;
	font-weight: bold;
	font-size: 16px;
}