@import 'src/assets/styles/vars.scss';

header {
	width: 100%;

	&:before {
		content: '';
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		right: 0;
		height: 168px;
		background: $c-orange;
		border-radius: 0px 0px 8px 8px;
		z-index: -1;
	}

	h2 {
		margin-top: 33px;
    	margin-bottom: 23px;
		text-align: center;
		font-size: 20px;
	}

	img {
		position: absolute;
	}

	.menu {
		left: 20px;
	}

	.notif {
		right: 20px;
	}
}